# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments and Secrets
.env
.env.local
*.secret
*.key

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/

# OpenTripPlanner generated data
otp/data/*.pbf
otp/data/*.osm
otp/data/graphs/
otp/*.jar
!otp/config/
!otp/data/gtfs/
